---
import PostsList from "@/components/PostsList.astro";
import Base from "@/layouts/Base.astro";
---

<Base>
  <div class="section">
    <div class="container">
      <PostsList />
    </div>
  </div>
</Base>
