body.menu-open {
  @apply overflow-hidden pr-0;
}

.header {
  @apply top-0 z-50 border-b border-(--color-border) bg-body py-[33px] dark:border-darkmode-border dark:bg-darkmode-body;
}

.backdrop {
  @apply bg-black/20 opacity-0 invisible fixed top-0 left-0 h-full w-full lg:hidden z-20 transition;
}

/* navbar items */
.navbar {
  @apply flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-text-dark;
}
.navbar-brand {
  image {
    @apply max-h-full max-w-full;
  }
}
.navbar-nav {
  @apply mt-0 order-3 p-7 lg:p-0 fixed top-0 right-0 h-screen bg-body lg:h-auto lg:bg-transparent lg:static max-w-md lg:max-w-none w-full pb-6 lg:order-0 lg:flex lg:items-center lg:w-auto lg:space-x-2 lg:pb-0 xl:space-x-8 transform translate-x-full lg:translate-x-0 z-50 transition-all duration-300 ease-in-out dark:max-lg:bg-darkmode-body;
}

.nav-item {
  @apply mb-5 text-left lg:mb-0;
}
.nav-item.active {
  @apply bg-primary text-white;
}

.nav-link {
  @apply rounded-[30px] px-6 py-2.5 text-left font-secondary text-[13.5px] capitalize  text-text-dark transition hover:bg-primary hover:text-white dark:text-darkmode-text-light md:px-3 md:py-3 lg:text-center xl:px-5;
}
.nav-link.active {
  @apply bg-primary text-white;
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown-list {
  @apply z-10 rounded-lg border border-transparent bg-body p-2 w-fit shadow dark:border-darkmode-border dark:bg-black;
}

.nav-dropdown-item {
  @apply mb-1.5 last:mb-0;
}

.nav-dropdown-link {
  @apply min-w-[150px] rounded py-2.5 px-3.5 text-base font-semibold text-text-dark transition hover:bg-primary/10 hover:text-primary dark:hover:text-darkmode-primary dark:text-darkmode-text-light;
}

.nav-dropdown-link.active {
  @apply bg-primary/10 text-primary dark:text-darkmode-primary;
}

/* search style */
.search-icon {
  @apply inline-block h-10 w-10 cursor-pointer rounded-full bg-primary p-2.5 text-xl text-white;
}
.search-modal {
  @apply z-50 invisible opacity-100 absolute top-0 left-0 right-0  bg-body  transition dark:bg-black h-full;
}
.search-modal {
  .form-input {
    @apply h-full w-full border-0 px-4 text-lg;
  }
}
.search-modal {
  .search-close {
    @apply absolute top-1/2 right-2 -translate-y-1/2 p-3 text-h4;
  }
}
.search-modal.open {
  @apply visible opacity-100;
}

.light .menu-open {
  .border-border,
  &.border-border {
    @apply border-darkmode-border;
  }
}

/* theme-switcher */
.theme-switcher {
  @apply inline-flex;

  label {
    @apply relative inline-block h-4 w-6 cursor-pointer rounded-2xl bg-border lg:w-10;
  }

  input {
    @apply absolute opacity-0;
  }

  span {
    @apply absolute -top-1 left-0 flex h-6 w-6 items-center justify-center rounded-full bg-text-dark transition-all duration-300 dark:bg-white;
  }

  input:checked + label {
    span {
      @apply lg:left-4;
    }
  }
}
