---
import Post from "@/components/post.astro";
import Base from "@/layouts/Base.astro";
import { slugify } from "@/lib/utils/textConverter";
import Sidebar from "@/partials/Sidebar.astro";
import DirectusCms from "@/lib/cms/directus";

export async function getStaticPaths() {
  const categories = await DirectusCms.GetAllCategories();
  return categories.map((cat) => {
    return {
      params: { category: cat.category.toLowerCase() },
    };
  });
}

const { category } = Astro.params;
const posts = await DirectusCms.GetPostsByCategory(category!);
---

<Base title={category}>
  <div class="section mt-16">
    <div class="container">
      <h1 class="h2 mb-12">
        Showing posts from
        <span class="section-title ml-1 inline-block capitalize">
          {slugify(category!)}
        </span>
      </h1>
      <div class="row">
        <div class="lg:col-8">
          <div
            class="row rounded border border-border p-4 px-3 dark:border-darkmode-border lg:p-6"
          >
            {
              posts.map((post, i) => (
                <div class="col-12 mb-8 sm:col-6">
                  <Post {...post} />
                </div>
              ))
            }
          </div>
        </div>
        <Sidebar/>
      </div>
    </div>
  </div>
</Base>
