---
import config from "@/config/config.json";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { ContactPage } from "@/types/index";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";

const { data } = await getEntryBySlug("contact", "-index");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, social_links } = data as ContactPage;
---

<Base {...data}>
  <section class="section lg:mt-16">
    <div class="container">
      <div class="row relative pb-16">
        <Image
          width={1280}
          height={800}
          class="-z-[1] object-cover object-top absolute inset-0"
          src={"/images/map.png"}
          alt="map bg"
          format="webp"
        />
        <div class="lg:col-6">
          <h1
            class="my-10 lg:my-11 lg:pt-11 text-center lg:text-left lg:text-[64px]"
            set:html={markdownify(title)}
          />
        </div>
        <div
          class="contact-form-wrapper rounded border border-border p-6 dark:border-darkmode-border lg:col-6"
        >
          <h2>
            Send Us A
            <span class="ml-1.5 inline-flex items-center text-primary">
              Message
              <DynamicIcon icon="FaArrowLeft" />
            </span>
          </h2>
          <form
            class="contact-form mt-12"
            method="POST"
            action={contact_form_action}
          >
            <div class="mb-6">
              <label class="mb-2 block font-secondary" for="name">
                Full name
                <small class="font-secondary text-sm text-primary"> *</small>
              </label>
              <input
                class="form-input w-full"
                name="name"
                type="text"
                placeholder="Thomas Milano"
                required
              />
            </div>
            <div class="mb-6">
              <label class="mb-2 block font-secondary" for="email">
                Email Address
                <small class="font-secondary text-sm text-primary"> *</small>
              </label>
              <input
                class="form-input w-full"
                name="email"
                type="email"
                placeholder="example@gmail.com"
                required
              />
            </div>
            <div class="mb-6">
              <label class="mb-2 block font-secondary" for="subject">
                Subject
                <small class="font-secondary text-sm text-primary"> *</small>
              </label>
              <input
                class="form-input w-full"
                name="subject"
                type="text"
                placeholder="Blog advertisement"
                required
              />
            </div>
            <div class="mb-6">
              <label class="mb-2 block font-secondary" for="message">
                Your Message Here
                <small class="font-secondary text-sm text-primary"> *</small>
              </label>
              <textarea
                class="form-textarea w-full"
                placeholder="Hello I’m Mr ‘x’ from………….."
                rows="7"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Send Now" />
          </form>
        </div>
      </div>
      <div class="row">
        {
          social_links.map((link) => (
            <div class="md:col-6 lg:col-4">
              <span
                class="my-4 flex h-[100px] items-center justify-center
             rounded border border-border p-4 text-primary dark:border-darkmode-border"
              >
                <DynamicIcon icon={link.icon} />
                <p class="ml-1.5 text-lg font-bold text-dark dark:text-darkmode-light">
                  {link.content}
                </p>
              </span>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
